@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/lato/Lato-Regular.woff');
}
@font-face {
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/lato/Lato-Light.woff');
}
@font-face {
    font-family: 'Lato';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/lato/Lato-Medium.woff');
}
@font-face {
    font-family: 'Lato';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/lato/Lato-Semibold.woff');
}
@font-face {
    font-family: 'Lato';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/lato/Lato-Heavy.woff');
}
@font-face {
    font-family: 'Lato';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/lato/Lato-Bold.woff');
}
@font-face {
    font-family: 'Code-Pro';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/code-pro/Code-Pro-Bold.woff');
}
@font-face {
    font-family: 'Code-Pro-LC';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/code-pro/Code-Pro-LC.woff');
}